html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100vh;
}

.playground {
  width: 600px;
  background-color: #1e1e2c;
  display: flex;
  flex-direction: column;
}

.code-editor {
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  transition: height 0.45s ease-in-out;
}

.minimised-code-editor {
  height: auto;
}

.editor-header {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fafafa;
  background-color: #373a41;
}

.editor-resize-button {
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  background: #262629;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bolder;
  padding: 0;
}

.react-codemirror2 {
  height: calc(100% - 30px);
  overflow: auto;
}

.CodeMirror {
  height: 100% !important;
}

.CodeMirror-scroll {
  margin-right: -30px;
  background-color: #1d1e22;
  padding-bottom: 0;
  overflow: auto !important;
  height: 100%;
  outline: none;
  position: relative;
}

.CodeMirror-gutter {
  background-color: #2a2a34c9;
}

.default-window {
  flex-grow: 1;
  overflow: hidden;
  background: radial-gradient(#f3f3f3, #333333);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-window {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.result {
  height: 100%;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.buttons-div {
  background: #292930;
  padding: 6px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  color: white;
  background-color: #454547;
  padding: 2px 8px;
  margin: 5px;
  border: 1px solid #454547;
  transition: background 0.15s;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background: #1d1e22;
  border-color: #1d1e22;
}

.btn:focus {
  outline: none;
}
