@font-face {
  font-family: proximaNova;
  src: url(./assets/fonts/ProximaNovaRegular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

::selection {
  color: #ffffff;
  background: #5c7fd0;
}

body {
  font-family: proximaNova, sans-serif;
  font-size: 16px;
}

.buttons {
  display: flex;
}

.btn {
  color: #ffffff;
  background-color: #373a41;
  font-size: 1rem;
  padding: 3px 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #373a41;
  transition: background 0.3s;
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover {
  background: #464a52;
  border-color: #464a52;
}

.btn:focus {
  outline: none;
}

.danger-btn {
  background-color: #c9302c;
  border-color: #ac2925;
}

.danger-btn:hover {
  border-color: #d9534f;
  background-color: #d43f3a;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  height: 60px;
  background-color: #171a18;
  box-shadow: 0px 3px 6px #00000029;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar .btn {
  display: flex;
  align-items: center;
}

.navbar .btn > div > svg {
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin: 10px;
  }

  .navbar {
    height: auto;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar .buttons {
    margin: 10px;
  }

  .navbar .btn {
    font-size: 0.9rem;
    padding: 6px;
  }
}

/* navbar main-heading */
.heading {
  font-size: 1.6rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading span {
  font-size: 1rem !important;
}

.heading svg {
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  .heading span {
    display: none;
  }
}

svg {
  margin-right: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 92px);
}

.playground {
  width: 576px;
  min-width: 350px;
  max-width: calc(100vw - 10px);
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
}

.resizable {
  width: 10px;
  position: absolute;
  background: #3f4145;
  height: 100%;
  z-index: 4;
  left: -10px;
  cursor: ew-resize;
}

.code-editor {
  height: 100%;
  font-size: 1.125rem;
  transition: height 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  color: #fafafa;
  background-color: #373a41;
  cursor: pointer;
}

.editor-resize-button {
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  background: #262629;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bolder;
  padding: 0;
  cursor: pointer;
}

.react-codemirror2 {
  height: 100%;
  overflow: auto;
}

.CodeMirror {
  height: 100% !important;
}

.CodeMirror-scroll {
  background-color: #1d1e22;
}

.CodeMirror-gutter {
  background-color: #2a2a34c9;
}

.default-window {
  flex-grow: 1;
  overflow: hidden;
  background: linear-gradient(to bottom right, #000000, #262626);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.display-window {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.result {
  height: 100%;
}

.iframe {
  width: calc(100% - 10px);
  height: 100%;
  border: none;
}

.bottom-bar {
  background: #2c303a;
  padding: 5px;
  display: flex;
  height: 32px;
}

.bottom-bar button {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main {
  width: 400px;
  background: #2c303a;
  border-radius: 4px;
  color: #fff;
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 0.6px solid #cacaca;
  font-size: 1.7rem;
  letter-spacing: 0.1ch;
}

.modal-heading button {
  height: 30px;
  width: 30px;
}

.modal-main button {
  color: #ffffff;
  background: #525252;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.modal-main .danger-btn {
  background-color: #c9302c;
  border-color: #ac2925;
}

.modal-heading button:focus {
  outline: none;
}

.modal-content {
  padding: 12px 24px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  transition: all 0.35s ease-in-out;
}

#file-upload {
  display: none;
}

#upload-file-button {
  background-color: #449d44;
  border-color: #398439;
  padding: 4px 10px;
  width: 100%;
  margin: 12px 0;
  font-size: 1.3rem;
}

#upload-file-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#loading {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 0.75s linear infinite;
  margin: 5px;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.image-details h2,
.upload-error h2 {
  font-weight: normal;
}

.image-details p {
  margin: 10px 0;
  border: 1px solid white;
  padding: 8px;
  border-radius: 4px;
  background: #1d1e22;
  border: none;
  position: relative;
}

.image-url {
  color: #2196f3;
}

.error-message {
  color: #c9302c;
  margin: 10px 0;
}

.copy-text {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75rem;
  color: #fff;
  padding: 2px 6px;
  background: #525252;
  border-radius: 2px;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 14px;
  }

  .App {
    height: auto;
    overflow-x: hidden;
  }

  .main {
    flex-direction: column-reverse;
  }

  .playground {
    width: 100%;
    max-width: 100vw;
  }

  .iframe {
    width: 100%;
  }

  .code-editor {
    height: 300px;
  }

  .bottom-bar {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 13px;
  }
}
